Source: puppetquery
Section: admin
Priority: extra
Maintainer: Ingo Oeser <nightlyone@googlemail.com>
Build-Depends: debhelper (>= 8.0.0), golang-go, git-core, mercurial
Standards-Version: 3.9.2
Homepage: https://github.com/nightlyone/puppetquery
Vcs-Git: git://github.com/nightlyone/puppetquery.git

Package: puppetquery
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Query puppet database for nodes
 Tool nq contained, which can query puppetdb v1 API for nodes matching facts.
